*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(form.jpg);
    background-size: cover;
 
}

.Registration-Form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}

.Registration-Form h1{
    font-size: 30px;
    text-align: center;
    text-transform:uppercase;
    margin: 40px 0;
    color:white;
    font-weight: bold;
}

.Registration-Form p{
    font-size: 20px;
    margin: 15px 0;
    color:white;
    font-weight: bold;
}

.Registration-Form input{
    font-size: 15px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.Registration-Form select{
    font-size: 15px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
} 

 /* .Registration-Form button{ 
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer; 
}

.Registration-Form button:hover {
    background-color:red;
}  
 */


 .button:hover{
    background-color: red;
 }

 .button{
    font-size: 18px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: bold;
    color: black;
    

 }
